SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
ATTENUATE_DEPLOYMENT=local
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
GRAPH_SUBGRAPH_URL=https://api.studio.thegraph.com/query/1760226/atte/v0.0.1
GRAPH_STUDIO_API_KEY=
LEDGER_SPECULOS_URL=
ATTENUATE_PRIVATE_KEY=
BROKER_KEY=
DEPLOYER_PRIVATE_KEY=
